<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<p> <%= lab %> の上位希望者人数 <%= count %> </p>
	<form action="/edit" method="GET">
		<input type="submit" value="Edit">
	</form>
  </body>
</html>
